# python 3.6.8
apache-airflow
awscli
Babel
boto3
beautifulsoup4
coverage
ipython
lightgbm
hyperopt==0.1.2
matplotlib
matplotlib_venn
numpy
pandas==0.24.2
PyYAML
scikit-learn
scipy
seaborn
shap
SQLAlchemy
tqdm
xlrd
yellowbrick
pyarrow
fastparquet
joblib==1.2.0
pymssql
openpyxl
jupyter
jupyterlab
tensorflow
tensorflow-gpu
falcon
gunicorn